* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--blanc);
    font-size: var(--txt-S);
    color: var(--gris);
    font-family: var(--font-source);
}

h1{
    color: var(--blanc);
    font-size: var(--txt-XL);
    font-family: var(--font-exo);
    font-weight: bold;
    letter-spacing: 2%;
}

h2{
    font-family: var(--font-exo);
    font-weight: bold;
    font-size: var(--txt-L);
}

h3{
    font-family: var(--font-montserrat);
    font-size: var(--txt-L);
}

.list-unstyled{
    list-style: none;
}   