.header{
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--beige);
    color: var(--bleu-marine);
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.header__lang{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
}

.header__title{
    font-size: var(--txt-L);
    display: flex;
    justify-content: center;
}

.header__menu__titre{
    font-weight: bold;
    text-decoration: none;
    color: var(--gris);
    font-size: var(--txt-XL);
    display: flex;
    margin-left:5%;
    margin-top: 10%;
    margin-bottom: 30%;
}

.header__menu__link{
    text-decoration: none;
    color: var(--blanc);
    font-size: var(--txt-L);
}

.header__menu__item{
    margin-bottom: 40px;
    margin-left: 24px;
}
