.header{
    margin: 0 !important;
    background-color: var(--beige);
    color: var(--bleu-marine);
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.header__lang{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
}

.header__title{
    font-size: var(--txt-L);
    display: flex;
    justify-content: center;
}