.hero{
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    height: 550px;
    background-color: var(--bleu-marine);
    align-items: center;
}

.hero__title{
    padding-top: 18px;
}

.hero__carre__beige{
    margin-top: 25%;
    padding: 14px;
    width: 85%;
    text-align: center;
    align-items: center;
    background-color: var(--beige);
}

.hero__carre__beige-arrondi{
    display: flex;
    margin-top: -10%;
    margin-left: 10px;
    padding: 14px;
    width: 95%;
    text-align: center;
    align-items: center;
    background-color: var(--beige);
    border-radius: 5%;
    z-index: 1;
}

.hero__carre__beige-carre{
    display: flex;
    margin-top: 25%;
    margin-left: 10px;
    margin-bottom: 15% ;
    padding: 14px;
    width: 95%;
    text-align: center;
    align-items: center;
    background-color: var(--beige);
    z-index: 1;
}

.bleu{
    position: absolute;
    background-color: var(--bleu-marine);
    height: 320px;
    width: 100%;
    margin-top: -50px;
    z-index: -2;
}

.hero__art-img{
    display: flex;
    position:relative;
    z-index: 0;
}

.hero__art-title{
    margin: 50px 21px 50px 21px;
    text-align: center;
}

.hero__art-txt-ex{
    font-family: var(--font-montserrat);
    font-size: var(--txt-M);
    margin: 22px 21px 31px 14px;
}

.exception{
    position: absolute;
    margin-top: 70px;
    z-index: -1;
}

.exception-normal{
    margin-top: 100px;
    z-index: -1;
}

.hero__art-img{
    max-width: 100%;
    height: auto;
    z-index: -2;
    margin-bottom: 15px;
}