.hero{
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    height: 550px;
    background-color: var(--bleu-marine);
    align-items: center;
}

.hero__title{
    padding-top: 18px;
}

.hero__carre__beige{
    margin-top: 25%;
    padding: 14px;
    width: 85%;
    text-align: center;
    align-items: center;
    background-color: var(--beige);
}

.hero__carre__beige-arrondi{
    display: flex;
    margin-top: -5%;
    margin-left: 10px;
    padding: 14px;
    width: 95%;
    text-align: center;
    align-items: center;
    background-color: var(--beige);
    border-radius: 5%;
}