.article{
    margin-bottom: 100px;
}

.article__sub-title{
    margin-left: 22px;
    margin-inline-end: 47px;
    border-top: 2px solid var(--bleu-marine);
}

.article__txt{
    margin: 24px 16px 24px 10px;
    font-size: var(--txt-S);
}

.article__txt-legende{
    margin: -5px 10px 0 160px;
    font-family: var(--font-source);
    font-size: var(--txt-XS);
    justify-content: right;
    display: grid;
;
}

.article__link{
    display: grid;
    color: var(--bleu-marine);
    justify-items: center;
}

.article__txt-title{
    font-size: var(--txt-M);
    text-decoration: solid underline var(--gris);
    margin-left: 7px;
    margin-top: 15px;
}