.frise__img{
    width: 35%;
    height: auto;
}

.frise__txt-annexe{
    font-size: var(--txt-S);
}

.frise__item{
    display: flex;
    flex-direction: column;
}

.droite{
    align-items: flex-end;
    margin-right: 15px;
}

.gauche{
    margin-left: 15px;
}

.frise{
    position: relative;
    width: 100%;
    max-width: 900px;
    z-index: 0;
}

.frise:after {
    content: "";
    position: absolute;
    top: -160px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: var(--beige);
    z-index: 0;
}

.frise:before{
    content: "";
    position: absolute;
    rotate: 90deg;
    border-top: 20px solid transparent;
    border-left: 16px solid var(--beige);
    border-bottom: 20px solid transparent;
    left: 49%;
    bottom: 0%;
    z-index: 0;
}